* {
  margin: 0;
  padding: 0;
}

.canvas {
  display: block;
  margin: 0 auto;
  border: 1px solid black;
  background: url(../assets/bck.png);
  background-position: center;
  background-size: contain;
}
